<a href="https://colab.research.google.com/github/Jermish-Justin/EDA-DA/blob/main/21BDS0062_Module_2_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MODULE 2

Merging

In [20]:
import pandas as pd
import numpy as np

Loading Dataset

In [2]:
url = 'https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Males.csv'
data = pd.read_csv(url)

Splitting into two dataframes

In [4]:
df1 = data.iloc[:len(data)//2]  # First half
df2 = data.iloc[len(data)//2:]  # Second half

Splitted Dataframe

In [5]:
print(df1.shape)
df1.head(10)

(2180, 13)

,rownames,nr,year,school,exper,union,ethn,maried,health,wage,industry,occupation,residence
0,1,13,1980,14,1,no,other,no,no,1.197540,Business_and_Repair_Service,Service_Workers,north_east
1,2,13,1981,14,2,yes,other,no,no,1.853060,Personal_Service,Service_Workers,north_east
2,3,13,1982,14,3,no,other,no,no,1.344462,Business_and_Repair_Service,Service_Workers,north_east
3,4,13,1983,14,4,no,other,no,no,1.433213,Business_and_Repair_Service,Service_Workers,north_east
4,5,13,1984,14,5,no,other,no,no,1.568125,Personal_Service,"Craftsmen, Foremen_and_kindred",north_east
5,6,13,1985,14,6,no,other,no,no,1.699891,Business_and_Repair_Service,"Managers, Officials_and_Proprietors",north_east
6,7,13,1986,14,7,no,other,no,no,-0.720263,Business_and_Repair_Service,"Managers, Officials_and_Proprietors",north_east
7,8,13,1987,14,8,no,other,no,no,1.669188,Business_and_Repair_Service,"Managers, Officials_and_Proprietors",north_east
8,9,17,1980,13,4,no,other,no,no,1.675962,Trade,"Managers, Officials_and_Proprietors",north_east
9,10,17,1981,13,5,no,other,no,no,1.518398,Trade,"Managers, Officials_and_Proprietors",north_east

In [6]:
print(df2.shape)
df2.head(10)

(2180, 13)

,rownames,nr,year,school,exper,union,ethn,maried,health,wage,industry,occupation,residence
2180,2181,4569,1984,12,5,yes,other,no,no,2.367185,Trade,Laborers_and_farmers,NaN
2181,2182,4569,1985,12,6,yes,other,no,no,2.129068,Trade,Laborers_and_farmers,NaN
2182,2183,4569,1986,12,7,yes,other,yes,no,2.033576,Trade,Laborers_and_farmers,NaN
2183,2184,4569,1987,12,8,yes,other,yes,no,2.035432,Trade,"Managers, Officials_and_Proprietors",NaN
2184,2185,4603,1980,11,2,yes,other,no,no,2.055204,Trade,Laborers_and_farmers,NaN
2185,2186,4603,1981,11,3,yes,other,no,no,1.997862,Trade,Laborers_and_farmers,NaN
2186,2187,4603,1982,11,4,yes,other,no,no,2.038810,Trade,Sales_Workers,NaN
2187,2188,4603,1983,11,5,yes,other,no,no,2.174104,Trade,Clerical_and_kindred,NaN
2188,2189,4603,1984,11,6,yes,other,no,no,1.988279,Trade,Clerical_and_kindred,NaN
2189,2190,4603,1985,11,7,yes,other,no,no,1.921912,Trade,Laborers_and_farmers,NaN

Concatenate in row

In [7]:
concat_row = pd.concat([df1, df2], ignore_index=True)
print("Concatenated (row-wise):")
print(concat_row)

Concatenated (row-wise):
      rownames     nr  year  school  exper union   ethn maried health  \
0            1     13  1980      14      1    no  other     no     no
1            2     13  1981      14      2   yes  other     no     no
2            3     13  1982      14      3    no  other     no     no
3            4     13  1983      14      4    no  other     no     no
4            5     13  1984      14      5    no  other     no     no
...        ...    ...   ...     ...    ...   ...    ...    ...    ...
4355      4356  12548  1983       9      8    no  other    yes     no
4356      4357  12548  1984       9      9   yes  other    yes     no
4357      4358  12548  1985       9     10    no  other    yes     no
4358      4359  12548  1986       9     11   yes  other    yes     no
4359      4360  12548  1987       9     12   yes  other    yes     no

          wage                          industry  \
0     1.197540       Business_and_Repair_Service
1     1.853060                  Personal_Service
2     1.344462       Business_and_Repair_Service
3     1.433213       Business_and_Repair_Service
4     1.568125                  Personal_Service
...        ...                               ...
4355  1.591879                      Construction
4356  1.212543                      Construction
4357  1.765962                      Construction
4358  1.745894  Professional_and_Related Service
4359  1.466543             Public_Administration

                          occupation   residence
0                    Service_Workers  north_east
1                    Service_Workers  north_east
2                    Service_Workers  north_east
3                    Service_Workers  north_east
4     Craftsmen, Foremen_and_kindred  north_east
...                              ...         ...
4355  Craftsmen, Foremen_and_kindred         NaN
4356  Craftsmen, Foremen_and_kindred         NaN
4357  Craftsmen, Foremen_and_kindred         NaN
4358  Craftsmen, Foremen_and_kindred         NaN
4359  Craftsmen, Foremen_and_kindred         NaN

[4360 rows x 13 columns]

Concatenate in column

In [8]:
concat_column = pd.concat([df1, df2], axis=1)
print("\nConcatenated (column-wise):")
print(concat_column)

Concatenated (column-wise):
      rownames    nr    year school exper union   ethn  maried  health  \
0          1.0  13.0  1980.0   14.0   1.0    no  other      no      no
1          2.0  13.0  1981.0   14.0   2.0   yes  other      no      no
2          3.0  13.0  1982.0   14.0   3.0    no  other      no      no
3          4.0  13.0  1983.0   14.0   4.0    no  other      no      no
4          5.0  13.0  1984.0   14.0   5.0    no  other      no      no
...        ...   ...     ...    ...   ...   ...    ...     ...     ...
4355       NaN   NaN     NaN    NaN   NaN   NaN    NaN     NaN     NaN
4356       NaN   NaN     NaN    NaN   NaN   NaN    NaN     NaN     NaN
4357       NaN   NaN     NaN    NaN   NaN   NaN    NaN     NaN     NaN
4358       NaN   NaN     NaN    NaN   NaN   NaN    NaN     NaN     NaN
4359       NaN   NaN     NaN    NaN   NaN   NaN    NaN     NaN     NaN

          wage  ... school exper union   ethn  maried  health      wage  \
0     1.197540  ...    NaN   NaN   NaN    NaN     NaN     NaN       NaN
1     1.853060  ...    NaN   NaN   NaN    NaN     NaN     NaN       NaN
2     1.344462  ...    NaN   NaN   NaN    NaN     NaN     NaN       NaN
3     1.433213  ...    NaN   NaN   NaN    NaN     NaN     NaN       NaN
4     1.568125  ...    NaN   NaN   NaN    NaN     NaN     NaN       NaN
...        ...  ...    ...   ...   ...    ...     ...     ...       ...
4355       NaN  ...    9.0   8.0    no  other     yes      no  1.591879
4356       NaN  ...    9.0   9.0   yes  other     yes      no  1.212543
4357       NaN  ...    9.0  10.0    no  other     yes      no  1.765962
4358       NaN  ...    9.0  11.0   yes  other     yes      no  1.745894
4359       NaN  ...    9.0  12.0   yes  other     yes      no  1.466543

                              industry                      occupation  \
0                                  NaN                             NaN
1                                  NaN                             NaN
2                                  NaN                             NaN
3                                  NaN                             NaN
4                                  NaN                             NaN
...                                ...                             ...
4355                      Construction  Craftsmen, Foremen_and_kindred
4356                      Construction  Craftsmen, Foremen_and_kindred
4357                      Construction  Craftsmen, Foremen_and_kindred
4358  Professional_and_Related Service  Craftsmen, Foremen_and_kindred
4359             Public_Administration  Craftsmen, Foremen_and_kindred

     residence
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
4355       NaN
4356       NaN
4357       NaN
4358       NaN
4359       NaN

[4360 rows x 26 columns]

## MERGING

Splitting the dataset

In [21]:
df11 = data.iloc[:len(data)//4]          # First
df12 = data.iloc[len(data)//4:len(data)//2]  # Second
df13 = data.iloc[len(data)//2:3*len(data)//4]  # Third
df14 = data.iloc[3*len(data)//4:]          # Fourth

Inner Join

In [23]:
df_inner = df22.merge(df44, how='inner')
print(df_inner.shape)
print("Inner Join:")
print(df_inner.head())

(0, 13)
Inner Join:
Empty DataFrame
Columns: [rownames, nr, year, school, exper, union, ethn, maried, health, wage, industry, occupation, residence]
Index: []

Left Join

In [24]:
df_left = df22.merge(df44, how='left')
print(df_left.shape)
print("Left Join:")
print(df_left.head())

(2180, 13)
Left Join:
   rownames  nr  year  school  exper union   ethn maried health      wage  \
0         1  13  1980      14      1    no  other     no     no  1.197540
1         2  13  1981      14      2   yes  other     no     no  1.853060
2         3  13  1982      14      3    no  other     no     no  1.344462
3         4  13  1983      14      4    no  other     no     no  1.433213
4         5  13  1984      14      5    no  other     no     no  1.568125

                      industry                      occupation   residence
0  Business_and_Repair_Service                 Service_Workers  north_east
1             Personal_Service                 Service_Workers  north_east
2  Business_and_Repair_Service                 Service_Workers  north_east
3  Business_and_Repair_Service                 Service_Workers  north_east
4             Personal_Service  Craftsmen, Foremen_and_kindred  north_east

Right Join

In [25]:
df_right = df22.merge(df22, how='right')
print(df_right.shape)
print("Right Join:")
print(df_right.head())

(2180, 13)
Right Join:
   rownames  nr  year  school  exper union   ethn maried health      wage  \
0         1  13  1980      14      1    no  other     no     no  1.197540
1         2  13  1981      14      2   yes  other     no     no  1.853060
2         3  13  1982      14      3    no  other     no     no  1.344462
3         4  13  1983      14      4    no  other     no     no  1.433213
4         5  13  1984      14      5    no  other     no     no  1.568125

                      industry                      occupation   residence
0  Business_and_Repair_Service                 Service_Workers  north_east
1             Personal_Service                 Service_Workers  north_east
2  Business_and_Repair_Service                 Service_Workers  north_east
3  Business_and_Repair_Service                 Service_Workers  north_east
4             Personal_Service  Craftsmen, Foremen_and_kindred  north_east

Outer Join

In [26]:
df_outer = df22.merge(df44, how='outer')
print(df_outer.shape)
print("Outer Join:")
print(df_outer.head())

(4360, 13)
Outer Join:
   rownames  nr  year  school  exper union   ethn maried health      wage  \
0         1  13  1980      14      1    no  other     no     no  1.197540
1         2  13  1981      14      2   yes  other     no     no  1.853060
2         3  13  1982      14      3    no  other     no     no  1.344462
3         4  13  1983      14      4    no  other     no     no  1.433213
4         5  13  1984      14      5    no  other     no     no  1.568125

                      industry                      occupation   residence
0  Business_and_Repair_Service                 Service_Workers  north_east
1             Personal_Service                 Service_Workers  north_east
2  Business_and_Repair_Service                 Service_Workers  north_east
3  Business_and_Repair_Service                 Service_Workers  north_east
4             Personal_Service  Craftsmen, Foremen_and_kindred  north_east

# Data Deduplication

In [15]:
deduplicated_df = data.drop_duplicates()
print("Deduplicated DataFrame:")
print(deduplicated_df)

Deduplicated DataFrame:
      rownames     nr  year  school  exper union   ethn maried health  \
0            1     13  1980      14      1    no  other     no     no
1            2     13  1981      14      2   yes  other     no     no
2            3     13  1982      14      3    no  other     no     no
3            4     13  1983      14      4    no  other     no     no
4            5     13  1984      14      5    no  other     no     no
...        ...    ...   ...     ...    ...   ...    ...    ...    ...
4355      4356  12548  1983       9      8    no  other    yes     no
4356      4357  12548  1984       9      9   yes  other    yes     no
4357      4358  12548  1985       9     10    no  other    yes     no
4358      4359  12548  1986       9     11   yes  other    yes     no
4359      4360  12548  1987       9     12   yes  other    yes     no

          wage                          industry  \
0     1.197540       Business_and_Repair_Service
1     1.853060                  Personal_Service
2     1.344462       Business_and_Repair_Service
3     1.433213       Business_and_Repair_Service
4     1.568125                  Personal_Service
...        ...                               ...
4355  1.591879                      Construction
4356  1.212543                      Construction
4357  1.765962                      Construction
4358  1.745894  Professional_and_Related Service
4359  1.466543             Public_Administration

                          occupation   residence
0                    Service_Workers  north_east
1                    Service_Workers  north_east
2                    Service_Workers  north_east
3                    Service_Workers  north_east
4     Craftsmen, Foremen_and_kindred  north_east
...                              ...         ...
4355  Craftsmen, Foremen_and_kindred         NaN
4356  Craftsmen, Foremen_and_kindred         NaN
4357  Craftsmen, Foremen_and_kindred         NaN
4358  Craftsmen, Foremen_and_kindred         NaN
4359  Craftsmen, Foremen_and_kindred         NaN

[4360 rows x 13 columns]

# Missing Data

In [16]:
missing_data = data.isnull().sum()
print("Missing data count per column:")
print(missing_data)

Missing data count per column:
rownames         0
nr               0
year             0
school           0
exper            0
union            0
ethn             0
maried           0
health           0
wage             0
industry         0
occupation       0
residence     1245
dtype: int64

Dropping missing values

In [17]:
df_dropped_na = data.dropna()
print("DataFrame after dropping missing values:")
print(df_dropped_na.head())

data.isnull().values.any()

DataFrame after dropping missing values:
   rownames  nr  year  school  exper union   ethn maried health      wage  \
0         1  13  1980      14      1    no  other     no     no  1.197540
1         2  13  1981      14      2   yes  other     no     no  1.853060
2         3  13  1982      14      3    no  other     no     no  1.344462
3         4  13  1983      14      4    no  other     no     no  1.433213
4         5  13  1984      14      5    no  other     no     no  1.568125

                      industry                      occupation   residence
0  Business_and_Repair_Service                 Service_Workers  north_east
1             Personal_Service                 Service_Workers  north_east
2  Business_and_Repair_Service                 Service_Workers  north_east
3  Business_and_Repair_Service                 Service_Workers  north_east
4             Personal_Service  Craftsmen, Foremen_and_kindred  north_east

True

Filling missing values

In [19]:
df_filled_na = data.fillna(data.mean(numeric_only=True))
print("DataFrame after filling missing values:")
print(df_filled_na.head())

data.isnull().values.any()

DataFrame after filling missing values:
   rownames  nr  year  school  exper union   ethn maried health      wage  \
0         1  13  1980      14      1    no  other     no     no  1.197540
1         2  13  1981      14      2   yes  other     no     no  1.853060
2         3  13  1982      14      3    no  other     no     no  1.344462
3         4  13  1983      14      4    no  other     no     no  1.433213
4         5  13  1984      14      5    no  other     no     no  1.568125

                      industry                      occupation   residence
0  Business_and_Repair_Service                 Service_Workers  north_east
1             Personal_Service                 Service_Workers  north_east
2  Business_and_Repair_Service                 Service_Workers  north_east
3  Business_and_Repair_Service                 Service_Workers  north_east
4             Personal_Service  Craftsmen, Foremen_and_kindred  north_east

True